run = "Run"
[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "Run"]

[workflows]
runButton = "Build Android App"

[[workflows.workflow]]
name = "Build Android App"
author = 45518247
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew assembleDebug"
